In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

# Loading the dataset from the URL
url = 'https://data.cityofchicago.org/resource/dqcy-ctma.csv?$limit=5000000'
df = pd.read_csv(url)

# Displaying basic information about the dataset
print("Dataset Information:")
df.info()

# Displaying the first 5 rows of the dataset
print("\nFirst 5 rows of the dataset:")
print(df.head())

# Handling missing values before processing
print("\nMissing values before cleaning:")
print(df.isnull().sum())

# Dropping duplicates
df.drop_duplicates(inplace=True)

# Converting 'date' column to datetime
df['date'] = pd.to_datetime(df['date'], errors='coerce')

# Keeping only relevant columns: longitude, latitude, and primary type of crime
df = df[['longitude', 'latitude', 'primary_type']]

# Dropping rows with missing longitude or latitude
df = df.dropna(subset=['longitude', 'latitude'])

# Identifying the top 10 most common crime types
top_10_crimes = df['primary_type'].value_counts().nlargest(10).index

# Filtering the dataset to include only rows with the top 10 crime types
df = df[df['primary_type'].isin(top_10_crimes)]

feature_type_to_id = {ftype: idx for idx, ftype in enumerate(df['primary_type'].unique(), start=0)}
df['feature_id'] = df['primary_type'].map(feature_type_to_id)

# Resetting the index after filtering
df.reset_index(drop=True, inplace=True)

# Final check for missing values
print("\nMissing values after cleaning:")
print(df.isnull().sum())

# Displaying summary statistics after cleaning
print("\nSummary statistics:")
print(df.describe())

# Displaying the top 5 rows after cleaning
print("\nTop 5 rows after cleaning:")
print(df.head())

print("\n Top 10 crime types:")
print(top_10_crimes)

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193074 entries, 0 to 193073
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    193074 non-null  int64
 1   case_number           193074 non-null  object
 2   date                  193074 non-null  object
 3   block                 193074 non-null  object
 4   iucr                  193074 non-null  object
 5   primary_type          193074 non-null  object
 6   description           193074 non-null  object
 7   location_description  192313 non-null  object
 8   arrest                193074 non-null  bool
 9   domestic              193074 non-null  bool
 10  beat                  193074 non-null  int64
 11  district              193074 non-null  int64
 12  ward                  193074 non-null  int64
 13  community_area        193074 non-null  int64
 14  fbi_code              193074 non-null  object
 15  x_coordinate          193021 non-null  float64
 16  y_coordinate          193021 non-null  float64
 17  year                  193074 non-null  int64
 18  updated_on            193074 non-null  object
 19  latitude              193021 non-null  float64
 20  longitude             193021 non-null  float64
 21  location              193021 non-null  object
dtypes: bool(2), float64(4), int64(6), object(10)
memory usage: 29.8+ MB

First 5 rows of the dataset:
         id case_number                     date                block  iucr  \
0  13470649    JH275914  2024-10-18T00:00:00.000    051XX S HOMAN AVE  1753
1  13614427    JH448960  2024-09-29T00:00:00.000  012XX W RANDOLPH ST  1320
2  13620458    JH455900  2024-09-29T00:00:00.000  0000X S ASHLAND AVE  1310
3  13614792    JH449249  2024-09-29T00:00:00.000  024XX N CENTRAL AVE  0460
4  13614422    JH448931  2024-09-29T00:00:00.000  0000X E DELAWARE PL  0890

                 primary_type                               description  \
0  OFFENSE INVOLVING CHILDREN  SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER
1             CRIMINAL DAMAGE                                TO VEHICLE
2             CRIMINAL DAMAGE                               TO PROPERTY
3                     BATTERY                                    SIMPLE
4                       THEFT                             FROM BUILDING

        location_description  arrest  domestic  ...  ward  community_area  \
0                  RESIDENCE   False      True  ...    14              63
1                     STREET   False     False  ...    27              28
2                  APARTMENT   False     False  ...    34              28
3  NURSING / RETIREMENT HOME   False     False  ...    30              19
4              HOTEL / MOTEL   False     False  ...    42               8

   fbi_code  x_coordinate y_coordinate  year               updated_on  \
0        02     1154580.0    1870281.0  2024  2024-09-27T15:40:30.000
1        14     1168135.0    1901083.0  2024  2024-10-06T15:41:18.000
2        14           NaN          NaN  2024  2024-10-06T15:41:18.000
3       08B     1138633.0    1915735.0  2024  2024-10-06T15:41:18.000
4        06     1176404.0    1906631.0  2024  2024-10-06T15:41:18.000

    latitude  longitude                            location
0  41.799867 -87.708644  POINT (-87.708643687 41.799867167)
1  41.884110 -87.658045  POINT (-87.658045431 41.884109654)
2        NaN        NaN                                 NaN
3  41.924902 -87.766025  POINT (-87.766025313 41.924902436)
4  41.899151 -87.627513  POINT (-87.627513456 41.899151086)

[5 rows x 22 columns]

Missing values before cleaning:
id                        0
case_number               0
date                      0
block                     0
iucr                      0
primary_type              0
description               0
location_description    761
arrest                    0
domestic                  0
beat                      0
district                  0
ward                      0
community_area            0
fbi_code                  0
x_coordinate             53
y_coordinate             53
year                      0
updated_on                0
latitude                 53
longitude                53
location                 53
dtype: int64

Missing values after cleaning:
longitude       0
latitude        0
primary_type    0
feature_id      0
dtype: int64

Summary statistics:
           longitude       latitude     feature_id
count  178518.000000  178518.000000  178518.000000
mean      -87.668220      41.847089       3.040780
std         0.058707       0.087395       2.444297
min       -87.934324      41.644590       0.000000
25%       -87.708634      41.771677       1.000000
50%       -87.661073      41.864549       2.000000
75%       -87.627029      41.910666       5.000000
max       -87.524532      42.022548       9.000000

Top 5 rows after cleaning:
   longitude   latitude        primary_type  feature_id
0 -87.658045  41.884110     CRIMINAL DAMAGE           0
1 -87.766025  41.924902             BATTERY           1
2 -87.627513  41.899151               THEFT           2
3 -87.752759  41.801166  DECEPTIVE PRACTICE           3
4 -87.702220  41.743549  DECEPTIVE PRACTICE           3

 Top 10 crime types:
Index(['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'ASSAULT', 'MOTOR VEHICLE THEFT',
       'OTHER OFFENSE', 'DECEPTIVE PRACTICE', 'ROBBERY', 'WEAPONS VIOLATION',
       'BURGLARY'],
      dtype='object')

In [2]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

gdf_points = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude))

shapefile = '/home/amk7r/colocation_mining/parallel_project/data/chicago/shapefiles'
gdf_polygon = gpd.read_file(shapefile)

# Step 4: Ensure the coordinate reference systems match (if not, reproject)
gdf_points = gdf_points.set_crs(epsg=4326)  # Assuming points are in WGS84 (lat/long)
gdf_polygon = gdf_polygon.to_crs(gdf_points.crs)

# Step 5: Perform spatial join or intersection to filter points within the polygon
points_in_polygon = gdf_points[gdf_points.geometry.within(gdf_polygon.unary_union)]

# Step 6: Resulting points
print(points_in_polygon)

/tmp/ipykernel_8076/1681794452.py:15: DeprecationWarning: The 'unary_union' attribute is deprecated, use the 'union_all()' method instead.
  points_in_polygon = gdf_points[gdf_points.geometry.within(gdf_polygon.unary_union)]

        longitude   latitude        primary_type  feature_id  \
0      -87.658045  41.884110     CRIMINAL DAMAGE           0
1      -87.766025  41.924902             BATTERY           1
2      -87.627513  41.899151               THEFT           2
3      -87.752759  41.801166  DECEPTIVE PRACTICE           3
4      -87.702220  41.743549  DECEPTIVE PRACTICE           3
...           ...        ...                 ...         ...
178513 -87.677273  41.998916               THEFT           2
178514 -87.743655  41.884474       OTHER OFFENSE           6
178515 -87.773525  41.887980     CRIMINAL DAMAGE           0
178516 -87.640890  41.907045  DECEPTIVE PRACTICE           3
178517 -87.657582  41.804993               THEFT           2

                          geometry
0       POINT (-87.65805 41.88411)
1        POINT (-87.76603 41.9249)
2       POINT (-87.62751 41.89915)
3       POINT (-87.75276 41.80117)
4       POINT (-87.70222 41.74355)
...                            ...
178513  POINT (-87.67727 41.99892)
178514  POINT (-87.74365 41.88447)
178515  POINT (-87.77352 41.88798)
178516  POINT (-87.64089 41.90705)
178517  POINT (-87.65758 41.80499)

[178480 rows x 5 columns]

In [3]:
selected_columns = points_in_polygon[['feature_id', 'latitude', 'longitude']]
selected_columns.to_csv('/home/amk7r/colocation_mining/parallel_project/data/chicago/chicago.csv', index=False)

In [4]:
print('Size of Chicago Data:', len(selected_columns))

Size of Chicago Data: 178480

In [6]:
# Importing necessary libraries
import pandas as pd
import numpy as np

# Loading the dataset from the URL
url = 'https://data.seattle.gov/resource/tazs-3rd5.csv?$limit=5000000'
df = pd.read_csv(url)

# Displaying basic information about the dataset
print("Dataset Information:")
df.info()

# Displaying the first 5 rows of the dataset
print("\nFirst 5 rows of the dataset:")
print(df.head())

# Handling missing values before processing
print("\nMissing values before cleaning:")
print(df.isnull().sum())

# Dropping duplicates
df.drop_duplicates(inplace=True)

# Converting datetime columns to datetime objects
df['report_datetime'] = pd.to_datetime(df['report_datetime'], errors='coerce')
df['offense_start_datetime'] = pd.to_datetime(df['offense_start_datetime'], errors='coerce')

# Handling missing values in datetime columns
df = df[df['report_datetime'].notnull()]
df = df[df['offense_start_datetime'].notnull()]

# Keeping only relevant columns: longitude, latitude, and offense type
df = df[['longitude', 'latitude', 'offense']]

# Dropping rows with missing longitude or latitude
df = df.dropna(subset=['longitude', 'latitude'])

# Identifying the top 10 most common crime types (offense)
top_10_crimes = df['offense'].value_counts().nlargest(10).index

# Filtering the dataset to include only rows with the top 10 crime types
df = df[df['offense'].isin(top_10_crimes)]

feature_type_to_id = {ftype: idx for idx, ftype in enumerate(df['offense'].unique(), start=0)}
df['feature_id'] = df['offense'].map(feature_type_to_id)

# Resetting the index after filtering
df.reset_index(drop=True, inplace=True)

# Final check for missing values
print("\nMissing values after cleaning:")
print(df.isnull().sum())

# Displaying summary statistics after cleaning
print("\nSummary statistics:")
print(df.describe())

# Displaying the top 5 rows after cleaning
print("\nTop 5 rows after cleaning:")
print(df.head())

print("\n Top 10 crime types:")
print(top_10_crimes)

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149893 entries, 0 to 1149892
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   report_number           1149893 non-null  object
 1   offense_id              1149893 non-null  int64
 2   offense_start_datetime  1148010 non-null  object
 3   offense_end_datetime    662969 non-null   object
 4   report_datetime         1149893 non-null  object
 5   group_a_b               1149893 non-null  object
 6   crime_against_category  1149893 non-null  object
 7   offense_parent_group    1149893 non-null  object
 8   offense                 1149893 non-null  object
 9   offense_code            1149893 non-null  object
 10  precinct                1149883 non-null  object
 11  sector                  1149883 non-null  object
 12  beat                    1149883 non-null  object
 13  mcpp                    1149862 non-null  object
 14  _100_block_address      1098415 non-null  object
 15  longitude               1149893 non-null  float64
 16  latitude                1149893 non-null  float64
dtypes: float64(2), int64(1), object(14)
memory usage: 149.1+ MB

First 5 rows of the dataset:
  report_number   offense_id   offense_start_datetime  \
0   2020-044620  12605873663  2020-02-05T10:10:00.000
1   2020-044452  12605598696  2020-02-03T08:00:00.000
2   2020-044465  12605567653  2020-02-02T20:30:00.000
3   2020-044225  12605174036  2020-02-05T01:17:00.000
4   2020-044076  12605081469  2020-02-05T00:51:21.000

      offense_end_datetime          report_datetime group_a_b  \
0                      NaN  2020-02-05T11:24:31.000         A
1  2020-02-04T08:00:00.000  2020-02-05T10:06:28.000         A
2  2020-02-02T21:30:00.000  2020-02-05T09:39:33.000         A
3  2020-02-05T02:21:00.000  2020-02-05T03:30:55.000         A
4                      NaN  2020-02-05T00:51:31.000         B

  crime_against_category                      offense_parent_group  \
0                SOCIETY                    DRUG/NARCOTIC OFFENSES
1               PROPERTY                             LARCENY-THEFT
2               PROPERTY                                   ROBBERY
3               PROPERTY  DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY
4                SOCIETY               DRIVING UNDER THE INFLUENCE

                                       offense offense_code precinct sector  \
0                     Drug/Narcotic Violations          35A        W      Q
1  Theft of Motor Vehicle Parts or Accessories          23G        N      J
2                                      Robbery          120        N      U
3     Destruction/Damage/Vandalism of Property          290        W      Q
4                  Driving Under the Influence          90D        N      B

  beat               mcpp            _100_block_address   longitude   latitude
0   Q1           MAGNOLIA      32XX BLOCK OF 23RD AVE W -122.385974  47.649387
1   J3  ROOSEVELT/RAVENNA      63XX BLOCK OF 5TH AVE NE -122.323399  47.675118
2   U3  ROOSEVELT/RAVENNA  26TH AVE NE / NE BLAKELEY ST -122.299552  47.666384
3   Q1           MAGNOLIA       22XX BLOCK OF W RAYE ST -122.384865  47.642927
4   B2      BALLARD SOUTH       NW 46TH ST / 8TH AVE NW -122.366195  47.662193

Missing values before cleaning:
report_number                  0
offense_id                     0
offense_start_datetime      1883
offense_end_datetime      486924
report_datetime                0
group_a_b                      0
crime_against_category         0
offense_parent_group           0
offense                        0
offense_code                   0
precinct                      10
sector                        10
beat                          10
mcpp                          31
_100_block_address         51478
longitude                      0
latitude                       0
dtype: int64

Missing values after cleaning:
longitude     0
latitude      0
offense       0
feature_id    0
dtype: int64

Summary statistics:
           longitude       latitude     feature_id
count  871037.000000  871037.000000  871037.000000
mean     -119.403653      46.490812       4.430839
std        18.721301       7.276302       2.751626
min      -165.998029       0.000000       0.000000
25%      -122.349253      47.583498       2.000000
50%      -122.329191      47.615810       4.000000
75%      -122.310816      47.664228       6.000000
max       171.857000      89.999989       9.000000

Top 5 rows after cleaning:
    longitude   latitude                                      offense  \
0 -122.323399  47.675118  Theft of Motor Vehicle Parts or Accessories
1 -122.384865  47.642927     Destruction/Damage/Vandalism of Property
2 -122.338450  47.608789                                  Shoplifting
3 -122.355309  47.680527     Destruction/Damage/Vandalism of Property
4 -122.367312  47.521028                                  Shoplifting

   feature_id
0           0
1           1
2           2
3           1
4           2

 Top 10 crime types:
Index(['Theft From Motor Vehicle', 'Burglary/Breaking & Entering',
       'Destruction/Damage/Vandalism of Property', 'All Other Larceny',
       'Simple Assault', 'Motor Vehicle Theft', 'Shoplifting',
       'Theft of Motor Vehicle Parts or Accessories', 'Aggravated Assault',
       'Intimidation'],
      dtype='object')

In [7]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

gdf_points = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude))

shapefile = '/home/amk7r/colocation_mining/parallel_project/data/seattle/shapefiles'
gdf_polygon = gpd.read_file(shapefile)

# Step 4: Ensure the coordinate reference systems match (if not, reproject)
gdf_points = gdf_points.set_crs(epsg=4326)  # Assuming points are in WGS84 (lat/long)
gdf_polygon = gdf_polygon.to_crs(gdf_points.crs)

# Step 5: Perform spatial join or intersection to filter points within the polygon
points_in_polygon = gdf_points[gdf_points.geometry.within(gdf_polygon.unary_union)]

# Step 6: Resulting points
print(points_in_polygon)

/tmp/ipykernel_8076/4176840835.py:15: DeprecationWarning: The 'unary_union' attribute is deprecated, use the 'union_all()' method instead.
  points_in_polygon = gdf_points[gdf_points.geometry.within(gdf_polygon.unary_union)]

         longitude   latitude                                      offense  \
0      -122.323399  47.675118  Theft of Motor Vehicle Parts or Accessories
1      -122.384865  47.642927     Destruction/Damage/Vandalism of Property
2      -122.338450  47.608789                                  Shoplifting
3      -122.355309  47.680527     Destruction/Damage/Vandalism of Property
4      -122.367312  47.521028                                  Shoplifting
...            ...        ...                                          ...
871029 -122.350586  47.529242                 Burglary/Breaking & Entering
871030 -122.240770  47.499634                            All Other Larceny
871031 -122.351731  47.488775                                 Intimidation
871034 -122.352349  47.508443                          Motor Vehicle Theft
871035 -122.351365  47.773575                           Aggravated Assault

        feature_id                     geometry
0                0   POINT (-122.3234 47.67512)
1                1  POINT (-122.38486 47.64293)
2                2  POINT (-122.33845 47.60879)
3                1  POINT (-122.35531 47.68053)
4                2  POINT (-122.36731 47.52103)
...            ...                          ...
871029           9  POINT (-122.35059 47.52924)
871030           4  POINT (-122.24077 47.49963)
871031           8  POINT (-122.35173 47.48878)
871034           5  POINT (-122.35235 47.50844)
871035           7  POINT (-122.35137 47.77358)

[850194 rows x 5 columns]

In [8]:
selected_columns = points_in_polygon[['feature_id', 'latitude', 'longitude']]
selected_columns.to_csv('/home/amk7r/colocation_mining/parallel_project/data/seattle/seattle.csv', index=False)

In [9]:
print('Size of Seattle Data:', len(selected_columns))

Size of Seattle Data: 850194